@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #222;
    color: white;
}

header,
footer {
    width: 100%;
    background: #EEE;
    color: black;
}

header img.logo {
    height: 2rem;
}
