@tailwind base;
@tailwind components;
@tailwind utilities;

header li {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: medium;

    &:hover {
        border-bottom: 4px solid #0182F9;
        color: #0182F9;
    }
}

#footerLinks {
    background-image: url(../img/footer-bg.jpg);

    section>div:first-child li {
        margin-top: -.4em;

        a {
            color: grey;
            font-size: 10px;

            &:hover {
                color: #0182F9;
            }
        }
    }

    section>div:last-child {
        background-image: url(../img/dc-logo-bg.png);
    }
}

#slideSec>button:first-child {
    top: -1.7rem;
}
