@tailwind base;
@tailwind components;
@tailwind utilities;

header li {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: medium;

    &:hover {
        border-bottom: 4px solid #0182F9;
        color: #0182F9;
    }
}
